/*  your css code here. If applicable */
body{
	background-color:rgb(135, 206, 235);
}
p:first-child{
	background-color:black;
	color:rgb(255, 255, 255);
}
p:last-child{
	color:rgb(255, 0, 0);
}


	li:nth-child(odd){
		background-color:white;
	}
li:nth-child(3){
	background-color:pink;
}
li:nth-child(even){
	background-color:stalegray;
}
